<div class="w-full p-4">
    <div class="bg-white rounded-2xl flex flex-col">
        <div class="flex flex-col md:flex-row items-center w-full p-4">
            <img
                src="{{image}}"
                alt="Recipe image"
                class="flex-none w-36 rounded-lg md:mr-4"
            />
            <h3
                class="font-thin flex-1 text-center text-lg md:text-xl xl:text-3xl"
            >
                {{recipe_name}}
            </h3>
            <h4
                class="font-thin flex-1 flex items-center justify-center text-md md:text-lg"
            >
                by {{user.user_name}}
            </h4>
            <div
                class="flex flex-col items-center justify-between w-full md:w-fit md:flex-row md:gap-2"
            >
                <div
                    class="flex items-center justify-between w-full md:w-fit md:flex-col"
                >
                    <img
                        src="/svg/time.svg"
                        alt="Time:"
                        class="flex-none w-6"
                    />
                    <h4>{{preparation_time}} min</h4>
                </div>
                <div
                    class="flex items-center justify-between w-full md:w-fit my-2 md:my-0 md:flex-col"
                >
                    <h4>Difficulty</h4>
                    <h4>{{difficulty}}</h4>
                </div>
            </div>
        </div>
        <div
            class="m-4 yellow rounded-2xl p-2 grid gap-2 grid-cols-3 min-h-[50px]"
        >
            <div
                class="bg-white rounded-xl font-thin text-lg p-3 text-center whitespace-normal break-all flex items-center justify-center"
            >
                Eggsfdasfdsahjfkdlafhdsalhkfdhsajklfhdklsjafhdjklsahfdklsja
            </div>
            <div
                class="bg-white rounded-xl font-thin text-lg p-3 text-center flex items-center justify-center"
            >
                2
            </div>
            <a
                class="blue rounded-xl font-thin text-lg text-yellow-500 cursor-pointer p-3 text-center flex items-center hover:shadow-lg transition-shadow duration-300 justify-center"
                href="https://www.walmart.ca/search?q=eggs"
            >
                Walmart
            </a>
        </div>
        <p class="p-4 font-thin text-lg lg:text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            totam assumenda esse! Sunt, eligendi aperiam a tenetur dicta nemo
            possimus et repellendus debitis placeat nam, non maiores error
            provident sint? Iure alias, dolores at quo sapiente voluptates,
            eveniet repellat possimus, quam ipsa sed ad placeat incidunt. Odio
            numquam at dolores eaque perferendis. Molestiae cupiditate quis
            voluptatibus quia eaque itaque molestias. Consequatur voluptas
            provident optio iure totam, autem illo praesentium non minus nihil
            perferendis ipsam vel impedit corrupti adipisci, placeat officiis
            laborum, beatae voluptatibus quae. Fugiat suscipit totam rerum amet
            dignissimos? Consequatur laborum nisi sapiente dolore commodi. Quis
            porro eum praesentium veniam architecto provident sunt dolor quaerat
            minus harum excepturi est eveniet minima, quibusdam laudantium
            delectus illo autem enim obcaecati impedit! Laudantium ullam enim
            asperiores iste laboriosam nihil doloremque ducimus quam quas illum
            nemo minus quidem voluptatem totam at incidunt beatae molestiae
            tempora, eos consequatur quaerat necessitatibus repellendus. Neque,
            illum ratione. Deserunt earum minus dignissimos! Officiis rem
            debitis assumenda dolorum recusandae doloremque voluptatibus
            accusamus placeat at pariatur saepe ab non, nostrum ducimus,
            distinctio in eum quod. Dicta facere sint modi architecto? Neque,
            dolore nobis! Facere architecto quia corrupti a laborum. Placeat
            deleniti ex maiores nemo dolor voluptatibus molestiae nesciunt, iure
            nisi suscipit soluta fugiat vitae odio eaque eveniet, ducimus
            distinctio! Nulla! Iure animi vero quibusdam culpa iusto dolorum
            cumque sunt quo non dolor aperiam repudiandae, sit aliquid minus
            incidunt magnam consectetur illum. Debitis nulla reprehenderit non
            explicabo hic, quaerat perspiciatis tempora? Cum minus excepturi
            impedit, molestias in ex beatae dicta doloremque obcaecati vel
            minima. Fugit cumque odit culpa dolorem corrupti labore quos? Fuga
            quos tempora, repudiandae unde reprehenderit provident earum
            tenetur! Quae facere consequuntur, temporibus laudantium facilis
            fuga eos, tenetur minima exercitationem sequi reprehenderit
            repudiandae molestiae iure corporis tempore iste culpa ipsum odio
            sapiente. Ipsa placeat ea impedit quam iusto consequuntur.
        </p>
    </div>
</div>
